<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create post</title>
</head>
<body>
    <h1>create post page</h1>
    <form action="/create" method="post" enctype="multipart/form-data">
        Title : <input type="text" name="title" id="title" required>
        <br><br>
        Image : <input type="file" name="image" id="image" accept="image/*" required>
        <br><br>
        Text : <br>
        <textarea  name="text" id="text" rows="5" cols="40" required></textarea>
        <br><br>
        <input type="submit" value="create">
        
    </form>

    <br><br><br>

    <button><a href="/posts" style="text-decoration: none;">See all posts</a></button>
    <button><a href="/delete" style="text-decoration: none;">Delete Post</a></button>
</body>
</html>